* {
  box-sizing: border-box;
  font-family: Merriweather, Arial, serif;
}

  body {
    margin:0;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select {
  background-color: lightgrey;
  width: 75%;
  height: 50px;
  padding: 20px;
  margin: 20px;
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus,
  select:focus,
  textarea:focus {
    border: 10px solid red;
    background-color: lightblue;
    height: 100px;
     -webkit-transition: border 2s, background-color 2s, height 2s, -webkit-transform 2s;
    transition: border 2s, background-color 2s, height 2s, transform 2s;
  }


  h1, h2, p{
    text-align: center;
  }


  h1 {
    background-color: #96858F;
    color: white;
    padding: 30px;
    border-top: black solid;
    border-bottom: black solid;
  }

  p  {
    color: gray;
  }

  h2, 
  legend {
    font-size: 24px;
  } 

  label {
    display: block;
    font-size: 20px;
  }

  ul {
  list-style-type: none;
  }

  .header {
    margin: 0;
  }

  .main {
    border-top: 10px double black;
    max-width: 80%;
    margin: auto;
    background-color: #6D7993;
    
  }

  .contact {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
  }

  .fieldset {
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    }


  .newsletter-select {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  
  .button{
    width: 70%;
    margin: 0 auto;
    height: 75px;
    background-color: #9099A2;
    color: white;
    font-size: 25px;
    border-radius: 15px;
    padding: 20px;
    max-width: 400px;
  }

  .button:hover {
    background-color: #062F4F;
     -webkit-transition: background-color 3s, -webkit-transform 3s;
    transition: background-color 3s, transform 3s;
}

  .footer {
    display: flex;
    flex-direction: column;
  }

  .small {
    margin-top: 20px;
    text-align: center;
    font-style: italic;
    color: gray;
  }

 

  
  .textarea 
  {
    height: 150px;
    width: 350px;
  }


  /*Media Queries*/

  @media (min-width: 768px){
    
    .contact-input {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .contact label {
      display: inline-block;
      width: 15%;

    }



  }